/*================================================================================= Default config  */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
	color: inherit;
	color: rgba(255,255,255,.5);
}


h1 {
	font-size: 4rem;
}

img {
	max-width: 100%;

}
ul {
	list-style: none;
}
.flex {
	display: flex;
}
.row {
	flex-direction: row;
}
.col {
	flex-direction: column;
}
.center {
	justify-content: center;
	align-items: center;
	align-content: center;
}
.under {
	text-decoration: underline;
}

/*================================================================================= containers principais  */


body {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	justify-content: flex-start;
	background: #1a1a1a;
	overflow-x: hidden;
}
header,section, footer {
	width: 100vw;
	align-self: flex-start;

}
header{
	background: red;
	flex-flow: row wrap;
	

}

section {
	height: 100vh;
	padding-top: 15%;
	position: absolute;
	top:0;
	z-index: 2;
	background-image:linear-gradient(to bottom,rgba(255, 25, 25, 0.664), rgba(255,255,255,.5));
	
}

/*================================================================================= Default config  */

/*================================================================================= Menu Nav  */
#myNav {
	position: fixed;
	top: -2px;

}

.hambNav,.closeBtn  {            
	font-size:5rem;
	cursor:pointer;
	position: fixed;
	top:10px;
	right: 25px;
	z-index: 5;
	color: rgba(255,255,255,.5);
	transition: 1s;

}
.closeBtn {
	display: none;

}
.overlay {
	display: flex;
	flex-flow: row nowrap;
	width: 0;
	height: 120px;
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.00);
	overflow-x: hidden;
	transition: 0.5s;
	font-size: 2.3rem;
	padding: 15px 0;
}

.overlay-content {
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex:1;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	color: #f2f2f2;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

/*================================================================================= Menu Nav  */

/*================================================================================= Banner  */



.banner  {
	position: relative;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: aqua;
	background-image: url("banner2.jpg");
	background-size: cover;

}


/*================================================================================= Banner  */

/*================================================================================= Redes Sociais  */


.social {
	padding: 50px;
	width: 100%;
	flex-flow: row wrap;
	justify-content: space-around;
	align-self: flex-end;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.social-net {
	font-size: 4em;
	margin: 20px;
	color: rgba(255,255,255,.5);

}
/*================================================================================= Redes Sociais  */

/*================================================================================= Rodapé  */

footer {
	align-self: flex-end;
}
.copyright {
	padding: 20px 0;
	text-align: center;
	font-size: .9rem;
	font-weight: 300;
	align-self: flex-end;

}
/*================================================================================= Rodapé  */

/*================================================================================= Scrollbar  */
::-webkit-scrollbar-track { 
box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
background-color: #F5F5F5; 
}

::-webkit-scrollbar { 
width: 12px; 
background-color: #F5F5F5; 
}
::-webkit-scrollbar-thumb { 
background-color: #333; 
border-radius: 5px;  
background-image: 
linear-gradient(
45deg, rgba(255,255,255, 0.2) 25%,
transparent 25%, transparent 50%, 
rgba(255,255,255, 0.2) 50%, 
rgba(255,255,255, 0.2) 75%, 
transparent 75%,  
transparent
);
}
/*================================================================================= Scrollbar  */

/*================================================================================= Media Queries  */

/*================================================================================= max-width 480px  */
@media screen and (max-width: 480px) {
	h1 {
		font-size: 3em;
	}
	h3 {
		font-size: 1.2em;
	}
body {
	font-size: 1rem;
}

section {
	text-align: center;
	padding:2.5%;
}



.hambNav,.closeBtn {
	font-size: 3.5em;
}
.closeBtn {
	background-color: rgba(0,0,0,1);
	text-align: center;
	border-radius: 0 50% 50% 0 ;
	padding: 5px;
	width: 90px;
	height: 90px;

}
.overlay, .overlay-content {
	height: 100vh;
	width: 100vw;
	flex-flow: column wrap;
	background-color: rgba(0,0,0,1);
}

.social {
	padding: 0;
	padding-top: 70px;
}
.social-net {
	font-size: 2.3em;
	padding: 0;
}


}
/*================================================================================= max-width 375px  */