/*
========================================================== 
=========================== RESET ========================
==========================================================
 */


* {	 box-sizing: border-box; margin: 0; padding: 0; font-size: 1rem;font-family: 'Muli', sans-serif;
}
 script, iframe, head { display: none!important; }

h2 	{	font-size: 1.7em;	}
h3 	{	font-size: 1.5em;	}
h4 	{	font-size: 1.2em;	}
p 	{	text-align: left;   }
img {	max-width: 100%; 	}
ul  {   list-style: none;	}

header, section { width: 100%;  overflow-x: hidden; }
html, body { min-width: 320px; display: flex; background: #f1f1f1; }
body{ flex-direction: column; overflow-x:hidden;}

.f-col {display: flex;	flex-direction: column; width: 100%;}
.f-row { display: flex; justify-content: space-around; width: 100%; flex-grow: auto;   flex-wrap: wrap; }
.bold { font-weight: 700; padding-right: 1.5%; }
.w50 {width: 50%;}



/*
========================================================== 
======================= CABECALHO ========================
==========================================================
 */

header {
	display: flex;
	color: rgba(255,255,255,0);
	align-items: center;
	position: relative;
	z-index: 2;
	 overflow: visible;
	 padding: 1px;
	 text-shadow: 2px 2px 1px #000;



}

header .box {	
	width: 100%;
	padding: 2.5%; 
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around; 
	z-index: 3;	
	background-image:url('banner.svg'), linear-gradient(45deg,#00CABB, #4a65e8);
	background-size: cover;
	
}

/*
//
//
/
EFEITO BOX SHADOW ==================================================================
//
//
/
*/

header:before, header:after
{

  content:"";
  position:absolute;
  width:48.1%;
  background: rgba(0,0,0,0);


  height:20px;
  box-shadow:0 15px 5px 5px rgba(0,0,0, 0.7);

  bottom:10px;
  left:10px;
}
header:before{
  right:10px;
  left:auto;
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  	background:	linear-gradient(45deg,#00CABB, #4a65e8);

}
header:after{
  -webkit-transform:rotate(-2deg);
  -moz-transform:rotate(-2deg);
  	background:	linear-gradient(45deg,#00CABB, #4a65e8);
}


/*
//
//
/
IMAGEM PERFIL ==================================================================
//
//
/
*/

header .picture {padding-right: 2%; flex: 1 2 auto; }
header .user-img { 
 width: 116px; height: 116.63px; border-radius: 50%;
 background-image:  
 url("portrait.jpg");
 box-shadow: inset 5px 5px 15px 8px rgba(0,0,0,0.8);
 background-size: cover; align-self: center;
}


/*
//
//
/
DADOS GERAIS E DE CONTATO ==================================================================
//
//
/
*/

header .nome {width: 100%; flex: 1; align-self: center;}
header .ctto >li { align-items: center; font-weight: 700; }
header .cep, .mail-txt, .cel-txt {display: none;}
header .fas, header .fab {padding: 10px; font-size: 1.33em;}
.mail, .mobile, .adress { flex-flow: row nowrap; justify-content: flex-start;}


/*
========================================================== 
======================= SECTIONS  ========================
==========================================================
 */



section { background-color: #FFF;  color: #777777;  padding-top: 1.5%;}

.ctg { padding: 1% 3%; }
.ctg > li, .topicos {padding-top: 1.5%;}


/*
//
//
/
TITULOS  ==================================================================
//
//
/
*/

.sec-title { 
	display:	flex; 
	color: #4a65e8;   
	font-weight: 300; 
	padding: 2% 0;
	width: 100%;
	align-self: center;
 	align-items: center; 
 	justify-content: center;
 	align-content: center;
 }
.sec-title i { width: 10%;}

/*
//
//
/
TÓPICOS  ==================================================================
//
//
/
*/

.topicos {border-bottom: 1px solid rgba(0,0,0,0.2);  padding-bottom: 1.5%; display: flex; padding-top: 3.5%; align-items: flex-start;}
.topicos i {color: #00CABB; font-size: 2rem; opacity:.6; width: 10%;}
.topicos  h3 { text-align: center; align-self: center;}
.ctg-txt { padding-left: 2%; }

/*
//
//
/
CONTAINER BORDA ICONES ==================================================================
//
//
/
*/
.ult-xp, .penul-xp, .cursos, .escolaridade { border-left: 3px solid rgba(0,0,0,0.1); margin-top: 7%;margin-left:5%; padding-left: 7%;position:relative;}

/*
//
//
/
DIV. ESCOLARIDADE  ==================================================================
//
//
/
*/
.escolaridade i {z-index:2; position:absolute; left:-4.3%;top:-3.25%;  background: #fff; color:  #4a65e8; padding: 2.5% 0;}


/*
//
//
/
DIV IDIOMAS ==================================================================
//
//
/
*/

.idiomas { display: flex; flex-wrap: no-wrap; padding-top:2.5%;}
.idiomas > div {flex:1;}
.fa-flag-usa,.fa-flag {color:#ff4d4d; padding:  2.5% 0}



/*
//
//
/
DIV CONHECIMENTO E DOMINIOS DE LINGUAGEM ==================================================================
//
//
/
*/

.knowInfo > li {flex-direction: column;}
.knowInfo > li p {padding: 2%;}
.knowInfo:hover span { animation: move 2s 1.5s 1 linear; }

/*
Progress CSS BAR  ==================================================================
*/

.meter {	height: 30px;	width: 100%;	background: #CFCFCF;	border-radius: 30px;  color: #333; display: flex; }
.meter > span { display: flex; height: 100%;  border-radius:30px; justify-content: center; align-items: center; align-content: center; }
.meter >  span p.bold { display: none; color:rgba(255,255,255,.7);}
span.green {  background:  linear-gradient(to right,#00CABB, #6379EB); }
@keyframes move { from { width:0%;}  to { width:;} } 

/*
//
//
/
DIV EXPERIENCIAS PROFISSIONAIS ==================================================================
//
//
/
*/

.descAtividades { text-align: justify; padding-top: 5%;}
.fa-briefcase { z-index:2; position:absolute; left:-4.3%;top:-3.25%;  background: #fff; color:#4C8CE0; padding:  2.5% 0;}



/*
//
//
/
DIV CURSOS, WORKSHOPS E TREINAMENTOS ==================================================================
//
//
/
*/
.tp-curso {margin-bottom: 3.5%;}
.atv i { z-index:2; position:absolute; left:-4.3%;  background: #fff; margin-top:1.25%; padding:  2.5% 0;}
.atv {padding: 2.5%; width: 100%; align-content: center;}

.atv:nth-child(odd) i{ color: #00CABB;}
.atv:nth-child(even) i{ color:#4C8CE0;}
.atv:first-child {border: none;}

.atv >li { display: flex;}



/*
//
//
/
LISTAS DE DOMINIOS, INTERESSES, COMPLEMENTARES, CONHECIMENTOS E DOMINIOS (GRADIENTES) ==================================================================
//
//
/
*/
.lista-comp li{ 
min-width:100%; 
color: #FFF; 
padding: 1rem; 
border-radius: 30px;  
margin: .5% 0;
display: flex; 
align-items: center; 
align-content: center; 
text-align: center; 
justify-content: center; 
height: 30px; 
line-height: 90%;
}


.lista-comp > li:nth-child(1) {	
	background: linear-gradient(45deg,   #00CABB,  #6379EB);
}
.lista-comp > li:nth-child(2){
	background: linear-gradient(45deg,   #6379EB, #0099cc);
}
.lista-comp > li:nth-child(3){
	background: linear-gradient(45deg, #0099cc, #006080);
}

.lista-comp > li:nth-child(4){
	background: linear-gradient(45deg,  #006080, #008060);
}
.lista-comp > li:nth-child(6){
	background: linear-gradient(45deg,#008060, #00cc99);
}

.lista-comp > li:nth-child(7){
	background: linear-gradient(45deg,#00cc99,  #00e6b8);
}
.lista-comp > li:nth-child(5){
	background: linear-gradient(45deg, #00e6b8, #00CABB);
}


/*
//
//
/
MENU FLUTUANTE ==================================================================
//
//
/
*/

#menuflutuante {
	position: fixed;
	align-items: center;
	bottom: 5%;
	right: 5%;
	z-index: 999;
	width: 100%;
	height: auto;
	background: rgba(0,0,0,0);
	align-items: flex-end;
	flex-flow: column-reverse;
}
.float-item{
	position: relative;
	background: #fff;
	width: 60px;
	height: 60px;
	margin: 5px;
	padding: 5px;
	border-radius: 50%;
	box-shadow: inset 0 0 9px rgba(0,0,0,0.3);  

	

}
.float-item:before{
	font-size: .9rem;
	color: #333;
	padding: 5px;
	background-color: rgba(255,255,255,.6);
	font-weight: 700;
	position: absolute;
	top:15%;
	width: 100%;
	text-align: center;
	display: none;
	transform: translateX(-90px);
	border-radius: 15px;


}
.float-item:hover:before {
	display: flex;
}
.pdf:before {
	content: "Download em pdf";
}
.casa:before {
	content: "Voltar pra casa";
}
.float-item a img {
	align-self: center;
	width: 100%;
}

/*
//
//
/
BARRA DE ROLAGEM ==================================================================
//
//
/
*/

::-webkit-scrollbar-track { 
box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
background-color: #F5F5F5; 
}

::-webkit-scrollbar { 
width: 10px; 
background-color: #F5F5F5; 
}
::-webkit-scrollbar-thumb { 
background-color: #333; 
border-radius: 5px;  
background-image: 
linear-gradient(
45deg, rgba(255,255,255, 0.2) 25%,
transparent 25%, transparent 50%, 
rgba(255,255,255, 0.2) 50%, 
rgba(255,255,255, 0.2) 75%, 
transparent 75%,  
transparent
);
}

/*
//
//
/
/*
==========================================================
========================================================== 
====================== MEDIA QUERIES =====================
==========================================================
==========================================================




DISPOSITIVO MINIMO WIDTH 320 PX ==================================================================
//
//
/
*/

@media screen and (min-width: 320px){
	header .box {
		flex-flow: column nowrap;
	}
	header:before, header:after {
		width: calc(50% - 15.2px);
	}
		span.abrev {
		display: none;
	}
	.picture {
		width: auto;
		padding: 0;
	}
	.ctto, .ctto > li, header .user-img {
		align-content: center;
		align-items: center;
		align-self: center;
		justify-content: center;
		text-align: center;
		padding: 0;
	}
}

/* DISPOSITIVO MINIMO WIDTH 425 PX ==================================================================
//
//
/
*/
@media screen and (min-width: 425px){
	header .box {
		flex-flow: row nowrap;
	}
		header:before, header:after {
		width: calc(50% - 15px);
	}
	.nome h2 {
		font-size: 1.5rem;
	}

	.ctto, .ctto > li {
		flex:1;
		text-align: left;
		justify-content: flex-start;
	}

}

/* DISPOSITIVO MINIMO WIDTH 768 PX ==================================================================
//
*/
@media screen and (min-width: 768px){
	header .user-img {  width: 180px; height: 180px;

	}
	.nome h2 {
		font-size: 1.7rem;
	}
		.info{
		width: 50%;
		align-content: flex-start;
		justify-content: flex-start;
		align-items: flex-start;

	}

}

/*
//
//
/
DISPOSITIVO MINIMO WIDTH 998 PX ==================================================================
//
//
/
*/
@media screen and (min-width: 998px){

	body { width: 90%; margin: 0 5%;
	}
	header .user-img {  width: 132.23px; height: 132.23px; 
	}
	.lista-comp li {min-width: 49%; margin: .5%;
	}
	.atv i, .fa-briefcase, .escolaridade i {left: -1.55%;
	}
	.ult-xp, .penul-xp, .cursos { margin-top:  2%; width: 80%; align-self: center;
	}
		.info{
		width: 60%;
	}

}
/*
//
//
/
DISPOSITIVO MINIMO WIDTH 1024 PX ==================================================================
//
//
/
*/
@media screen and (min-width: 1024px){

	body { width:80%; margin: 0 10%;
	}
	header .cep, .mail-txt, .cel-txt {display: flex;
	}
	header .user-img {  width: 152.63px; height: 152.63px; 
	}
	.lista-comp li {min-width: 29.5%; margin: .5%;
	}
	.atv i, .fa-briefcase, .escolaridade i {left: -2.0%; padding:  2.5% 0;
	}
	 .ult-xp, .penul-xp, .cursos { margin-top:  2%; width: 80%; align-self: center;
	}


}
/*
//
//
/
DISPOSITIVO MINIMO WIDTH 1280 PX ==================================================================
//
//
/
*/
@media screen and (min-width: 1280px){
	body {
		width:60%; margin: 0 20%;
	}
	.sec-title{ margin: 2.5%;
	}
	.atv i, .fa-briefcase {left: -2.15%;
	}
	.fa-briefcase {top:0%; padding: 4% 0;
	}	
	.ult-xp, .penul-xp, .cursos { margin-top: 1%;
	}
	header .cep, .mail-txt, .cel-txt {display: flex;
	}
	header .user-img { width: 192.63px; height: 192.63px;
	}
	.lista-comp li { min-width: 20%; margin: .5%; 
	}
}

